@import "home.css";

#profilePhoto {
  height: 200px;
  width: 150px;
}

header {
  margin-top: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
