body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(
    75deg,
    rgb(0, 0, 0) 0%,
    rgb(75, 69, 158) 25%,
    rgb(134, 58, 58) 50%,
    rgb(44, 43, 100) 75%,
    rgb(35, 29, 54) 100%
  );
  -ms-overflow-style: none; /*Hide scrollbar W3School*/
  scrollbar-width: none; /*Hide scrollbar W3School*/
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /*Hide scrollbar W3School*/
}

a {
  text-decoration: none;/* Remove underline and blue color from Anchor element */
}

/* Put the navMenu in the right spot on the screen */
.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1%;
}

/* Icons: Home,about,contact */
.navMenu a {
  display: flex;
  justify-content: center;
  color: bisque;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 10;
  width:fit-content;
}

/* Zoom animation for the Icons in navMenu */
.navMenu a:hover {
  color: hsl(59, 60%, 37%);
  transition: 0.8s;
  transform: scale(1.1);
}

main,
main > section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Put the text in the middle and give it its font-family + color */
header h1,
article h2,
.gif-title,
.navMenu,
#foundationalTitle,
#headParagraf {
  width: 100%;
  text-align: center;
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  color: rgb(250, 250, 250, 0.9);
}

h1,
h2,
p {
  font-family: "Courier New", Courier, monospace, sans-serif;
  color: rgb(250, 250, 250, 0.9);
}

/* Put the header at the right position */
header {
  display: flex;
  flex-direction: column;
  width: auto;
}

header > h1 {
  font-size: 12vmax;
  margin-top: 50px;
  margin-bottom: 10px;
  letter-spacing: 5px;
}

#headTitle {
  font-size: 31px;
  justify-content: center;
  align-items: center;
}

#headParagraf {
  width: 100%;
}

#introImage {
  max-width: 90%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5%;
}

#article_Title {
  letter-spacing: 2px;
  font-size: 3em;
  margin-bottom: 0.5em;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.article_p {
  width: 75%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.6;
  font-size: 1.3em;
  padding-bottom: 20px;
}

#foundationalAside {
  display: flex;
  justify-content: center;
}

#foundationalTitle {
  font-size: 4em;
}

/* Section with gifs and footer */
.gif-section {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.gif-title {
  letter-spacing: 2px;
  margin-bottom: 2%;
  font-size: 2em;
}

.gif-photo {
  width: 350px; /* Adjust this value as needed */
  height: 200px; /* Adjust this value as needed */
  border: solid black 2px;
  border-radius: 3%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 0.75em;
}

#footerSpacing {
  padding-right: 3px;
}

/* For phone users */
@media only screen and (max-width: 360px) {
  header > h1,
  #article_Title,
  #foundationalTitle {
    font-size: 2.5em;
  }

  #headParagraf {
    font-size: 70%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navMenu {
    font-size: 90%;
  }

  #introImage {
    width: 90%;
  }

  .article_p {
    font-size: 15px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
  }

  .gif-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* For desktop users */
@media only screen and (min-width: 768px) {
  .navMenu {
    font-size: 1.5em;
  }

  .article_p {
    text-align: justify;
  }

  .gif-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns per row */
    gap: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
    object-fit:cover;
  }

  .gif-photo {
    width: 20vmax; /* Adjust this value as needed */
    height: 12vmax; /* Adjust this value as needed */
    border: solid black 2px;
    border-radius: 3%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.75);
  }

}
